*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.lordbuddha 
{   position:absolute; 
    z-index: 99999; 
    width: 100%; 
    height: auto; 
    text-align: center; 
    top: 185px; 
    left:0; 
} 
.loader1
{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate1 2s linear infinite;
}
.loader1::before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader1::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
@keyframes animate1
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader2
{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate2 2s linear infinite;
}
.loader2::before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader2::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
@keyframes animate2
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
        filter: hue-rotate(280deg);
    }
}
.loader3
{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate3 2s linear infinite;
}
.loader3::before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader3::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
@keyframes animate3
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
        filter: hue-rotate(180deg);
    }
}
.loader4
{
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate3 2s linear infinite;
}
.loader4::before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader4::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #f4032b);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
@keyframes animate4
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader5
{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate3 2s linear infinite;
}
.loader5::before
{
    content: '';
    position: relative;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader5::after
{
    content: '';
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #5bd88b);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
@keyframes animate5
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}